@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: $color-surface;
}

.main {
  @include container;
  padding-block: rem(48);
}
